In [1]:
###### ADVANCED LISTS ######

In [2]:
l = [1,2,3]

In [3]:
l.count(0)

0

In [4]:
l.count(1)

1

In [5]:
x = [1,2,3]
x.append([4,5])
print(x)

[1, 2, 3, [4, 5]]

In [6]:
x = [1,2,3]
x.extend([4,5])
print(x)

[1, 2, 3, 4, 5]

In [8]:
#insert(index,object)
l = [1,2,3,4]

l.insert(2,'inserted')
print(l)

[1, 2, 'inserted', 3, 4]

In [9]:
l.pop(0)
print(l)

[2, 'inserted', 3, 4]

In [10]:
#remove(): removes the first occurrence of a value
l.remove('inserted')
print(l)

[2, 3, 4]

In [11]:
l = [1,2,3,4,3]

l.remove(3)
print(l)

[1, 2, 4, 3]

In [13]:
l.sort()
print(l)

[1, 2, 3, 4]

In [14]:
###### ADVANCED SETS ######

In [15]:
# set doesn't take any duplicate items

In [16]:
s = set()

In [17]:
s.add(1)
s.add(2)
print(s)

{1, 2}

In [22]:
s = {1,2,3}
sc = s.copy()
s.add(4)
print(s)
print(sc)

{1, 2, 3, 4}
{1, 2, 3}

In [23]:
s.difference(sc)

{4}

In [26]:
s1 = {1,2,3}
s2 = {1,4,5}
s1.difference_update(s2)
s1

{2, 3}

In [27]:
s = {1,2,3,4}
s.discard(4)

In [28]:
s

{1, 2, 3}

In [29]:
s.discard(12)

In [30]:
s

{1, 2, 3}

In [32]:
s1 = {1,2,3}
s2 = {1,2,4}

s1.intersection(s2)

{1, 2}

In [34]:
s1.intersection_update(s2)
print(s1)

{1, 2}

In [35]:
# Disjoint(): returns true if sets have a null intersection

In [36]:
s1 = {1,2,3}
s2 = {1,2,4}
s3 = {5}

In [38]:
s1.isdisjoint(s2)

False

In [39]:
s1.isdisjoint(s3)

True

In [41]:
s1 = {1,2}
s1.issubset(s2)

True

In [42]:
s2.issuperset(s1)

True

In [44]:
# Symmetric difference: returns all the elements that are exactly in one of the sets
# opposite of intersection

In [45]:
s1

{1, 2}

In [46]:
s2

{1, 2, 4}

In [47]:
s1.symmetric_difference(s2)

{4}

In [48]:
# Union(): returns ALL elements in either set

In [49]:
s1.union(s2)

{1, 2, 4}

In [50]:
s1.update(s2)

In [51]:
s1

{1, 2, 4}